<nav class="navbar navbar-inverse navbar-left navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" routerLink="">PDXSafePlace</a>
  </div>
  <ul class="nav navbar-nav navbar-left">
    <li><a routerLink="safeplace">Find a Safe Place</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a routerLink="about">About Domestic Violence</a></li>
    <li><a class="text-muted" routerLink="admin">Admin</a></li>
  </ul>
  </div>
</nav>

<div class="container" id="alpha">
  <div class="container">
    <h1>Welcome</h1>
    <h2>Helping victims of Domestic Violence escape the cycle</h2>
  </div>
  <hr>
  <router-outlet></router-outlet>
  <!-- <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
    </div>
  </div> -->
</div>
<footer class="footer">
  <div class="container">
  </div>
</footer>
