/* You can add global styles to this file, and also import other style files */
html {
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #eb6864;
  padding: 15px;
}
